body{
    background: #444;
    font-size: 18px;
}

p{
    border: 2px solid yellow;
    padding: 2px;
    margin: 5px;
}

.box{
    width: 200px;
    height:200px;
    background: red;
    display: inline; 
    /* display: inline-block;  */
    /* display: block;*/
    /* display:none; */
}

#inlineFun{
    width: 200px;
    height:200px;
display: inline;
/* display: inline-block; */
border: 2px solid red;
margin: 10px;
}

#typography{
    font-size: 1.2em;
}