.container{
    /* Step 1: Set display to grid */
      display:grid;
   /* Step 2: setup rows amd columns */
   /* Step : setup named grid areas */
  
      border: 2px solid yellow;

  }
  .box{
    border: 1px solid red;
    background: #F8FA9D;
    }

  .header{
      /* Set elements grid-area here */
  }

  .footer{
    /* Set elements grid-area here */
  }
  .feature{
    /* Set elements grid-area here */
  }
  .content{
    /* Set elements grid-area here */
  }