/*  Debug CSS Code Below */
.box{
    width: 200px;
    height: 200px;
    position absolute;
  }
      
  #one{
    background: red
    top: 100px;
    left: 150px;
    zindex:1;
  }

  two{
    background: yellow;
    top: 80px;
    left: 100px;
    z-index: -1;
 }

 #three{
    background: bluue;
    z-index: 2;
 }